* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    /* for firefox */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

body {
    font-family: myFont;
    color: white;
}


/********  Fonts  **********/

@font-face {
    font-family: myFont;
    src: url(/fonts/Dosis-Regular.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: chalk;
    src: url(/fonts/EraserRegular.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: title;
    src: url(/fonts/Archistico_Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: dingbats;
    src: url(/fonts/Swinging.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: signiture;
    src: url(/fonts/AlexBrush-Regular.ttf);
    font-weight: bold;
    font-style: normal;
}


/********  Links etc.  **********/

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #fef200;
    cursor: pointer;
}

a:visited {}

.active {
    color: #3B5370;
}


/********  Header  **********/

.header {
    height: 200px;
    width: 100%;
    background-color: black;
    background-image: url(/images/chalkboard-background.jpg);
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: 10;
}

.title h1 {
    font-family: sans-serif, title;
    font-size: 5.5em;
    padding-bottom: 40px;
    position: relative;
    top: 16px;
}

.title-underline {
    position: absolute;
    right: 0px;
    top: 182px;
    width: 100%;
    height: 3px;
    border-bottom: 3px solid whitesmoke;
}

.eraser {
    position: absolute;
    left: 140px;
    top: 160px;
}

.chalk {
    position: absolute;
    left: 208px;
    top: 156px;
}

.chalk-two {
    position: absolute;
    left: 240px;
    top: 169px;
}

.quote {
    position: absolute;
    left: 30px;
    top: 10px;
    font-family: chalk;
}

.quote span {
    color: #e99488;
}

.header-social {
    position: absolute;
    top: 10px;
    right: 20px;
}

.header-social img {
    position: relative;
    right: 10px;
}

.header-social span {
    font-family: chalk;
    color: #c9c6c6;
    position: relative;
    right: 10px;
    top: -5px;
    font-size: 1.2em;
}

.header-social a {
    font-family: chalk;
    color: #c9c6c6;
    margin: 10px 0px;
}

.header-social a:nth-child(2) {
    position: relative;
    top: 15px
}

.header-social a:nth-child(3) {
    position: relative;
    top: 25px
}

.header-call-icon,
.header-address-icon {
    display: none;
}


/********************  
About/Gallery  
*********************/

.about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: grey;
    background-image: url(/images/tie-dye2450x1105.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    height: 650px;
    width: 100%;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: -1;
    border-radius: 5px;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 85%;
    position: relative;
    z-index: 0;
}

.about-us {
    flex: 1;
    border: 1px solid whitesmoke;
    margin: 10px;
}

.about-wrapper h1 {
    font-family: chalk;
    text-align: center;
    padding-top: 30px;
    padding: 10px 0;
}

.about-wrapper h3 {
    padding: 20px;
}

.menu {
    text-align: center;
}

.menu p {
    font-family: dingbats;
    font-size: 6.5em;
    position: relative;
    top: -60px;
    height: 30px;
    padding-bottom: 10px;
}


/*    Gallery*/

.gallery {
    flex: 3;
    border: 1px solid whitesmoke;
    margin: 10px;
    min-width: 0px;
}

.slider {
    visibility: hidden;
    width: 90%;
    margin: 10px auto;
}

.slick-initialized {
    visibility: visible;
}

.slider li {
    cursor: pointer;
}

.slider img {
    max-height: 400px;
}


/********  Find Us  **********/

.findUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    height: 100%;
    background-color: grey;
    background-image: url(/images/chalkboard-background.jpg);
    background-position: center center;
    background-size: cover;
    font-family: myFont;
}

.contact {
    width: 25%;
    height: 400px;
    margin: 40px 20px 20px 20px;
    border-radius: 5px;
}

.contact-underline {
    width: 100%;
    position: relative;
    top: 70px;
    left: -20px;
}

.contact-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: -85px;
    left: 25px;
}

.contact h1 {
    font-family: chalk;
    text-align: center;
    padding: 10px;
    font-size: 2.0em;
    margin: 0 auto;
}

.contact ul {
    margin: 20px 5px;
    list-style: none;
}

.contact li {
    margin: 5px 0;
}

.call-icon {
    position: relative;
    top: 70px;
    left: -80px;
    color: #c9c6c6;
}

.call h2 {
    color: #00a0d5;
}

.address h2 {
    color: limegreen;
}

.address-icon {
    position: relative;
    top: 10px;
    left: -80px;
    color: #c9c6c6;
}

.address {
    position: relative;
    top: -70px;
    left: 12px
}

.facebook {
    position: relative;
    top: -70px;
    left: -23px;
}

.facebook p {
    position: relative;
    top: -35px;
    left: 45px;
}

.fa-facebook-square {
    color: #c9c6c6;
}

.facebook a:hover {
    color: #00a0d5;
}

.yelp {
    position: relative;
    top: -95px;
    left: -37px;
}

.yelp p {
    position: relative;
    top: -45px;
    left: 45px;
}

.yelp a:hover {
    color: #00a0d5;
}

.hours {
    width: 25%;
    margin: 40px 20px 20px 20px;
    border-radius: 5px;
    position: relative;
    left: -20px;
}

.hours-underline {
    width: 100%;
    position: relative;
    top: -15px;
    left: 15px;
}

.hours h1 {
    font-family: chalk;
    text-align: center;
    padding: 10px;
    font-size: 2.0em;
    margin: 0 auto;
    position: relative;
    left: 20px;
}

.hours li {
    margin: 20px 5px;
    list-style: none;
    position: relative;
    top: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hours li:first-child h3 {
    position: relative;
    left: 20px;
}

.hours li:first-child h2 {
    color: #ef4852;
}

.hours li:nth-child(2) h3 {
    position: relative;
    left: 42px;
}

.hours li:nth-child(2) h2 {
    color: darkorange;
}

.hours li:nth-child(3) h3 {
    position: relative;
    left: 39px;
}

.hours li:nth-child(3) h2 {
    color: #fef200;
}

.map {
    width: 40%;
    height: 400px;
    margin: 40px 20px 20px 20px;
    border-radius: 5px;
}

.map-wrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

#embed-map-canvas {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#embed-map-canvas img {
    max-width: none!important;
    background: none!important;
}


/********  Footer  **********/

.footer {
    background-color: black;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}

.footer span {
    font-family: signiture;
    font-size: 1.5em;
    color: seagreen;
}