* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    /* for firefox */
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
            flex: 0 0 100%;
}

body {
    font-family: myFont;
    color: white;
}


/********  Fonts  **********/

@font-face {
    font-family: myFont;
    src: url(/fonts/Dosis-Regular.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: chalk;
    src: url(/fonts/EraserRegular.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: title;
    src: url(/fonts/Archistico_Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: dingbats;
    src: url(/fonts/Swinging.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: signiture;
    src: url(/fonts/AlexBrush-Regular.ttf);
    font-weight: bold;
    font-style: normal;
}


/********  Links etc.  **********/

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a:visited {}

.active {
    color: #3B5370;
}


/********  Header  **********/

.header {
    height: 220px;
    width: 100%;
    background-color: #4a4a4a;
    background-image: url(/images/chalkboard-background-min-min.jpg);
    background-position: center center;
    -moz-background-size: 100% auto;
      -o-background-size: 100% auto;
         background-size: 100% auto;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    text-align: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -ms-flex-flow: column;
    -webkit-flex-flow: column;
            flex-flow: column;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
       -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: 10;
}

.title h1 {
    font-family: title;
    font-size: 5.5em;
    padding-bottom: 40px;
    position: relative;
    top: 16px;
}

.title-underline {
    position: absolute;
    right: 0px;
    top: 182px;
    width: 100%;
    height: 3px;
    border-bottom: 3px solid whitesmoke;
}

.eraser {
    position: absolute;
    left: 140px;
    top: 160px;
}

.chalk {
    position: absolute;
    left: 208px;
    top: 156px;
}

.chalk-two {
    position: absolute;
    left: 240px;
    top: 169px;
}

.quote {
    position: absolute;
    left: 30px;
    top: 10px;
    font-family: chalk;
}

.quote span {
    color: #e99488;
}

.icons {
    display: none;
}

.header-social {
    position: absolute;
    top: 10px;
    right: 20px;
}

.header-social img {
    position: relative;
    right: 10px;
}

.header-social span {
    font-family: chalk;
    color: #c9c6c6;
    position: relative;
    right: 10px;
    top: -5px;
    font-size: 1.2em;
}

.header-social a {
    font-family: chalk;
    color: #c9c6c6;
    margin: 10px 0px;
}

.header-social a:nth-child(2) {
    position: relative;
    top: 15px
}

.header-social a:nth-child(3) {
    position: relative;
    top: 25px
}

.voted {
    font-family: chalk;
    margin: 15px;
}

.voted a {
    color: yellow;
}

.voted a:hover {
    color: deepskyblue;
    cursor: pointer;
}


/********************  
About/Gallery  
*********************/

.about-wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    background-color: grey;
    background-image: url(/images/tie-dye2450x1105.jpg);
    background-position: center center;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
       -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    width: 100%;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    width: 95%;
    position: relative;
    margin: 30px;
    z-index: 0;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.about-us {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
            flex: 1;
    min-width: 310px;
    border: 1px solid whitesmoke;
    margin: 10px;
}

.about-wrapper h1 {
    font-family: chalk;
    text-align: center;
    padding-top: 20px;
}

.about-wrapper h3 {
    padding: 10px 20px;
}

.menu {
    text-align: center;
}

.menu h1 {
    padding: 20px 0 10px 0;
}

.menu p {
    font-family: dingbats;
    font-size: 6.5em;
    position: relative;
    top: -60px;
    height: 20px;
    padding-bottom: 10px;
}

.menu a:hover {
    color: #fef200;
}


/*    Gallery*/

.gallery {
    -ms-flex: 3;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
       -moz-box-flex: 3;
            flex: 3;
    border: 1px solid whitesmoke;
    min-width: 440px;
    overflow: hidden;
    margin: 10px;
}

.slider {
    visibility: hidden;
    width: 90%;
    margin: 10px auto;
}

.slick-initialized {
    visibility: visible;
}

.slider li {
    cursor: pointer;
}

.slider img {
    max-height: 400px;
    margin: 0 5px;
}


/********  Find Us  **********/

.findUs {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -ms-flex-flow: row;
    -webkit-flex-flow: row;
            flex-flow: row;
    background-color: grey;
}

.findUs-wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -ms-flex-flow: row;
    -webkit-flex-flow: row;
            flex-flow: row;
    background-color: #4a4a4a;
    background-image: url(/images/chalkboard-background-min-min.jpg);
    background-position: center center;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
    font-family: myFont;
}

.contact {
    height: 100%;
    width: 25%;
    margin: 40px 20px 20px 20px;
    text-align: center;
}

.contact ul {
    display: inline-block;
    text-align: left;
}

.contact h1 {
    font-family: chalk;
    text-align: center;
}

.contact-underline {
    width: 100%;
    margin: 0 auto;
}

ul.contact-list {
    margin: 0 auto;
    position: relative;
    left: 40px;
}

.call h2,
.call a:hover {
    color: #00a0d5;
}

.call i {
    margin-top: 5px;
}

.address {
    margin-top: 10px;
}

.address i {
    position: absolute;
    top: 20px;
}

.address h2,
.address a:hover {
    color: limegreen;
}

.facebook,
.yelp {
    margin-top: 20px;
}

.facebook a:hover,
.facebook:hover {
    color: #00a0d5;
}

.yelp a:hover,
.yelp:hover {
    color: #ef4852;
}


/******Hours******/

.hours {
    width: 25%;
    margin: 40px 20px 20px 20px;
}

.hours-underline {
    width: 100%;
}

.hours h1 {
    font-family: chalk;
    text-align: center;
}

.hours li {
    margin: 20px 5px;
    list-style: none;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
}

.hours li:first-child h3 {
    position: relative;
    left: 20px;
}

.hours li:first-child h2 {
    color: #ef4852;
}

.hours li:nth-child(2) h3 {
    position: relative;
    left: 42px;
}

.hours li:nth-child(2) h2 {
    color: darkorange;
}

.hours li:nth-child(3) h3 {
    position: relative;
    left: 39px;
}

.hours li:nth-child(3) h2 {
    color: #fef200;
    position: relative;
    right: 42px;
}

.map {
    width: 40%;
    height: 400px;
    margin: 40px 20px 20px 20px;
}

.map-wrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

#embed-map-canvas {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#embed-map-canvas img {
    max-width: none!important;
    background: none!important;
}


/********  Footer  **********/

.footer {
    background-color: black;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}

.footer span {
    font-family: signiture;
    font-size: 1.5em;
    color: seagreen;
}


/******************************
  Media Queries  Desktop First
*******************************/


/* Large screens up to 1830px ----------- */

@media (max-width: 1830px) {}


/* Mid size screens up to 1550px ----------- */

@media (max-width: 1550px) {}


/* Mid size screens up to 1265px ----------- */

@media (max-width: 1265px) {}


/* Screens up to 1120px ----------- */

@media (max-width: 1120px) {
    .header-social {
        top: 10px;
        right: 5px;
    }
}


/* Screens up to 1050px ----------- */

@media (max-width: 1050px) {
    /********  Header  **********/
    .title h1 {
        font-size: 4.3em;
    }
}


/* Screens up to 945px ----------- */

@media (max-width: 945px) {
    /********  Header  **********/
    .header {
        height: 220px;
    }
    .title h1 {
        padding-bottom: 50px;
        font-size: 4em;
    }
    .quote {
        left: 20px;
    }
    .header-social {
        display: none;
    }
    .icons {
        display: inline;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .icons li {
        list-style: none;
        float: left;
        margin: 10px;
    }
    .icons a {
        color: #c9c6c6;
    }
    /********  Footer  **********/
    .map {
        display: none;
    }
    .findUs {
        -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
                justify-content: space-around;
    }
    .contact {
        width: 40%;
    }
    .hours {
        width: 40%;
    }
}


/* Screens up to 863px ----------- */

@media (max-width: 863px) {
    .flex-container {
        display: block;
        /* Wrap. added to make safari mobile work*/
        width: 90%;
        margin: 20px auto;
    }
    .about-us {
        min-width: 0;
    }
    /**Slider**/
    .gallery {
        min-width: 88%;
        margin: 0;
        padding: 0 15px;
        border: none;
    }
    .slider {
        height: auto;
    }
    .slider img {
        width: 300px;
        max-height: 300px;
    }
    .map {
        display: none;
    }
}


/* Screens up to 800px ----------- */

@media (max-width: 800px) {
    .title h1 {
        font-size: 3em;
    }
}


/* Screens up to 700px ----------- */

@media (max-width: 700px) {}


/* Screens up to 650px ----------- */

@media (max-width: 650px) {
    .quote {
        display: none;
    }
    .eraser {
        left: 35px;
    }
    .chalk {
        left: 103px;
    }
    .chalk-two {
        display: none;
    }
}


/* Screens up to 600px ----------- */

@media (max-width: 600px) {
    /********  Footer  **********/
    /********  Wrap hours below find us here **********/
    .findUs-wrapper {
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
                flex-direction: column;
    }
    .contact,
    .hours {
        height: auto;
        margin: 20px auto;
        width: 100%;
    }
}


/* Screens up to 580px ----------- */

@media (max-width: 580px) {}


/* Screens up to 500px ----------- */

@media (max-width: 500px) {
    .header {
        height: 240px;
    }
}


/* Screens up to 400px ----------- */

@media (max-width: 400px) {
    .title {
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
                align-items: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
                justify-content: center;
    }
    .title h1 {
        font-size: 2.5em;
        margin-top: 0px;
    }
}